.-views  {
   background: azire;
}

.-views__container {
    display: grid;
}

.-bucket {
    background: silver;
}

.-bucket__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 5vw 5vw 5vw 5vw 5vw
}